<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/player.css">
</head>
<body>
<div id="wrapper">
    <video controls src="../uploadAudios/<%= data %>">
        Ihr Browser Unterstützt dieses Element nicht
        <track src="../uploadAudios/<%= data.split('.')[0] %>.vtt" kind="subtitles" srclang="de" label="Deutsch">
    </video>
    <!-- Untertitel funktionieren nur mit dem Video tag -->
    <!-- Die Untertitel funktionieren nur auf Firefox -->
</div>
</body>
</html>