<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/player.css">
</head>
<body>
<div id="wrapper">
    <div id="player_wrapper">
        <audio controls src="../uploadAudios/<%= data %>">
            Ihr Browser Unterstützt dieses Element nicht
            <track src="../uploadAudios/">
        </audio>
    </div>
</div>
</body>
</html>